.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arr-bot {
	font-size:(21/10)*1rem;
	width:(11/21)*1em;
}
.icon-calculator {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-check {
	font-size:(27/10)*1rem;
	width:(27/27)*1em;
}
.icon-clock {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-clock-2 {
	font-size:(36/10)*1rem;
	width:(36/36)*1em;
}
.icon-dots {
	font-size:(13/10)*1rem;
	width:(18/13)*1em;
}
.icon-envelope {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-mail {
	font-size:(28/10)*1rem;
	width:(36/28)*1em;
}
.icon-phone {
	font-size:(36/10)*1rem;
	width:(36/36)*1em;
}
